* { 
    margin: 0; 
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

/* h1, h2, h3, h4, h5, p */

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

p {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.6em;    
  font-weight: 400;  
  text-indent: 20px;
  color:white;
  width:92%;
  margin: 0 auto;    
}

h1 {
    font-family: 'Lobster', cursive;
    color:white;
    font-size: 28px;
    padding: 10px;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    color:white;
    font-size:20px;
    padding: 20px;
}

/* Parallax */

.parallaxTop {
    background: url("../img/N300Sx2.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    height: inherit;
}

.parallaxTop:after {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    z-index: 1;
}

.parallaxMiddle {
    height: 100%;
    background-color: chocolate;
}

.parallaxBottom {
    height: 100%;
    background-color: darkgray;
}

/* Intro Section - Top */
.introTop {
    margin: 0 auto;
    text-align: center;
    padding-top: 9%;
}
img.jasonLogo {
    fill: #94d31b;
    width: 130px;
}
ul {
    overflow: auto;
    padding-top:15px;
    padding-bottom: 10px;
    list-style-type: none;
    -webkit-padding-start: 0;
}
li {
    overflow: auto;
    display: inline;
}

.fa {
    color:white;   
}

hr {
    margin: 0 auto;
    width: 400px;
    border-top: 1px double #8c8b8b;
}

.about {
  padding: 20px;
  /* border: solid 1px white; */
  /* border-radius: 10px 0px 10px 0px; */    
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 20px;
  width: 560px;
  margin: 0 auto; 
  margin-bottom: 20px;  
  margin-top: 20px;  
}

.hLineStyle1 {
	border-top: 4px double white;
	text-align: center;
}
.hLineStyle1:after {
	content: '\02193';
	display: inline-block;
	top:-2px;
    position: relative;
	padding: 0 10px;
	color: white;
	font-size: 25px;
}

/* vertical line at the bottom of the about box */

.vline {
    position: relative;
    margin-top: 20px;
    display: block;
    width:0px;
    top: 10px;
    height:250px;
    border-left: 1px solid white;
    margin: 0 auto;
}


/* Demo Sites - Middle */
.demoSites {
    margin: 0 auto;
    text-align: center;
}

.vlineMid {
    margin-top: 20px;
    display: block;
    width:0px;
    top: 10px;
    height:100px;
    border-left: 1px solid white;
    margin: 0 auto;
}

/* Bottom Section - Bottom */
.contactInfo {
    margin: 0 auto;
    text-align: center;
    padding-top: 14%;
}


