html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

/* Parallax */

.parallaxTop {
    background: url("../img/N300Sx2.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    height: inherit;
}

.parallaxTop:after {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    z-index: 1;
}

.parallaxBottom {
    height: 100%;
}

