*, *:after, *:before { 
    margin: 0;
    box-sizing: border-box;
}

html{
    min-height: 100%;
}
body {
    min-height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    text-decoration: none;
}

header,nav, a, img, li{
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
}

/* h1, h2, h3, h4, h5, p */

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

p {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.6em;    
  font-weight: 400;  
  text-indent: 20px;
  color:white;
  width:92%;
  margin: 0 auto;    
}

h1 {
    font-family: 'Lobster', cursive;
    color:white;
    font-size: 28px;
    padding: 10px;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    color:white;
    font-size:20px;
    padding: 10px;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    color:white;
    font-size:16px;
    padding: 8px;
}

h4 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    color:white;
    font-size:18px;
    padding: 5px;
}

/* Parallax */

.parallaxTop {
    background: url("../img/N300Sx2.jpeg");    
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.parallaxTop:after {
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    z-index: 1;
}

.parallaxMiddle {
    background: url("../img/landmark-fog-golden-gate-bridge-san-francisco.png"); 
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.parallaxBottom {
    height: 100%;
    background-color: darkgray;
    z-index: -1;
}

/* Intro Section - Top */
.introTop {
    position: relative;
    margin: 0 auto;
    text-align: center;
    padding-top: 2%;
    z-index: 3;
}
img.jasonLogo {
    fill: #94d31b;
    width: 130px;
}
ul {
    overflow: auto;
    padding-top:15px;
    padding-bottom: 10px;
    list-style-type: none;
    -webkit-padding-start: 0;
}
li {
    overflow: auto;
    display: inline;
}

.fa {
    color:white;   
}

hr {
    margin: 0 auto;
    width: 85%;
    border-top: 1px double #8c8b8b;
}

header.large {
    z-index: 3;
    background: blue;
    border-bottom: 1px;

}

ul.headerUl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    width: 75%;
}

.headerUl {
    margin: 0 auto;

}
/* Sizes for the bigger menu */

header.large{ 
    height: 75px; 
}
header.large li{
    margin-top: 10px; 
}

/* Sizes for the smaller menu */
header.small{ 
    height: 25px; 
}
header.small li{ 
    margin-top: 17px; 
}

.about {
  padding: 20px; 
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 18px;
  width: 90%;
  margin: 0 auto; 
  margin-bottom: 20px;  
  margin-top: 20px; 
}

.hLineStyle1 {
	border-top: 4px double white;
	text-align: center;
}
.hLineStyle1:after {
	content: '\02193';
	display: inline-block;
	top:-2px;
    position: relative;
	padding: 0 10px;
	color: white;
	font-size: 25px;
}

/* vertical line at the bottom of the about box */

.vline {
    position: relative;
    margin-top: 20px;
    display: block;
    width:0px;
    top: 10px;
    height:50px;
    border-left: 1px solid white;
    margin: 0 auto;
}


/* Demo Sites - Middle */
.demoSites {
    position: relative;
    margin: 0 auto;
    text-align: center;
    z-index: 3;
}

.vlineMid {
    margin-top: 20px;
    display: block;
    width:0px;
    top: 10px;
    height:20px;
    border-left: 1px solid white;
    margin: 0 auto;
}

.grid{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;    
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
}

[class*='col-'] {
  padding-right: 20px;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

.col1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  
}
.col2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  
}
.col3 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  
}

.col4 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  
}

/* Projects */

.projects {
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.projects-text {
    width: 82%;
    text-align: center;
    margin: 0 auto;
}

.s-icons {
    position: relative;
    bottom: 10px;
}

img {
    width: 90%;
}


/* Bottom Section - Bottom */
.contactInfo {
    margin: 0 auto;
    text-align: center;
    padding-top: 14%;
}

/* footer */

footer {
  position: relative;
  background: #b3b3b3;
  margin: 0 auto;
  text-align: center;
  padding: 30px; 
  z-index: 3;    
}

button.btn {
  padding: 10px;  
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

button.resetButton {
    height: 35px;
    width: 280px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size:1.1em;
    color:#2085a3;
}

.module-text {
  border-top:dotted 1px; 
  padding-top:1em;    
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  padding: 20px;    
}
